.recent-posts-container {
    display: inline-block;
    width: 90%;
    margin-top: 50px;
}

.recent-posts-container .dashboard-sub-header {
    font-size: 28px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
}